<h1>Startup Institute Reservester App</h1>
<p>Test</p>

<button type="button" class="btn btn-default navbar-btn"> <a href="/users/sign_up" > User Sign up </a> </button> |
<button type="button" class="btn btn-default navbar-btn"> <a href="/users/sign_in" > User Sign in </a> </button> |
<button type="button" class="btn btn-default navbar-btn"> <a href="/owners/sign_up" > Owner Sign up </a> </button> |
<button type="button" class="btn btn-default navbar-btn"> <a href="/owners/sign_in" > Owner Sign in </a> </button> |
