<div class="row">
  <div class="text-center">
<h1>Editing Reservation</h1>

<%= render 'form', reservation: @reservation %>

<%= link_to 'Show', @reservation %> |
<%= link_to 'Back', restaurant_reservations_path %>
<%= link_to 'Destroy', restaurant_reservations_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
