
<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>People</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |restaurant_reservations| %>
      <tr>
        <td><%= restaurant_reservations.id %></td>
        <td><%= restaurant_reservations.name %></td>
        <td><%= restaurant_reservations.people %></td>
        <td><%= link_to 'Show', restaurant_reservation_path(restaurant_reservation), :id => @reservation %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

